FFNN/Iteration117/TrainingData.csv
FFNN/Iteration117/TrainingDataNorm.csv
FFNN/Iteration117/TrainingDataStand.csv
FFNN/Iteration118/TrainingData.csv
FFNN/Iteration118/TrainingDataNorm.csv
FFNN/Iteration118/TrainingDataStand.csv
FFNN/Iteration119/TrainingData.csv
FFNN/Iteration119/TrainingDataNorm.csv
FFNN/Iteration119/TrainingDataStand.csv
FFNN/Iteration120/TrainingData.csv
FFNN/Iteration120/TrainingDataNorm.csv
FFNN/Iteration120/TrainingDataStand.csv
FFNN/Iteration121/TrainingData.csv
FFNN/Iteration121/TrainingDataNorm.csv
FFNN/Iteration121/TrainingDataStand.csv
FFNN/Iteration122/TrainingData.csv
FFNN/Iteration122/TrainingDataNorm.csv
FFNN/Iteration122/TrainingDataStand.csv
FFNN/Iteration123/TrainingData.csv
FFNN/Iteration123/TrainingDataNorm.csv
FFNN/Iteration123/TrainingDataStand.csv
FFNN/Iteration124/TrainingData.csv
FFNN/Iteration124/TrainingDataNorm.csv
FFNN/Iteration124/TrainingDataStand.csv
FFNN/Iteration125/TrainingData.csv
FFNN/Iteration125/TrainingDataNorm.csv
FFNN/Iteration125/TrainingDataStand.csv
FFNN/Iteration126/TrainingData.csv
FFNN/Iteration126/TrainingDataNorm.csv
FFNN/Iteration126/TrainingDataStand.csv
FFNN/Iteration127/TrainingData.csv
FFNN/Iteration127/TrainingDataNorm.csv
FFNN/Iteration127/TrainingDataStand.csv
FFNN/Iteration128/TrainingData.csv
FFNN/Iteration128/TrainingDataNorm.csv
FFNN/Iteration128/TrainingDataStand.csv
RNN/RNN_Training_Data_Stand.csv
RNN/TrainingData.csv
