FFNN/Iteration117/TrainingData.csv
FFNN/Iteration117/TrainingDataNorm.csv
FFNN/Iteration117/TrainingDataStand.csv
FFNN/Iteration118/TrainingData.csv
FFNN/Iteration118/TrainingDataNorm.csv
FFNN/Iteration118/TrainingDataStand.csv
FFNN/Iteration119/TrainingData.csv
FFNN/Iteration119/TrainingDataNorm.csv
FFNN/Iteration119/TrainingDataStand.csv
